<div class="container mt-5">
  <div class="d-flex justify-content-between">
  <h2 class="mb-4">Modifier mon profil</h2>
  <%= link_to "Annuler", profile_path, class:"btn btn-secondary" %>
  </div>
    <%= render "form" %>
</div>
