.container-swipe {
  background-color: $color-primary;
  height: 100vh;
}

.card-counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 30px;
  z-index: 100;
}

.card-counter .dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

.card-counter .dot.active {
  background-color: rgb(30, 240, 173);
}


.carousel {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  height: 82%;

  &::-webkit-scrollbar { display: none; }
}

.swipe-card {
  width: 95%;
  border-radius: 1rem;
  background-color: $color-background;
  align-items: center;
}

.btn-actions {
  bottom: 12px;
  align-items: center;
  padding-inline: 20px;
}

.btn-icon {
  width: 28px;
  height: 28px;
}

.card-img-background {
  width: 90%;
  top: 40px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  position: relative;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-info {
  padding-bottom: 30px;
}

.bouton {
  padding-top: 25px;
  padding-right: 40px;
}
