.recipes-carousel {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 26px 0 14px; /* top padding pour laisser sortir l'image au-dessus */
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar { display: none; }
}
