<nav class="navbar shadow-md">
  <%# <div class="nav-left flex items-center"> %>
    <%# <%= image_tag "logo.png", alt: "Logo TupLunch", class: "logo" %>
  <%# </div> %>

  <div class="title-navbar">
    <span class="text">TupLunch</span>
  </div>
</nav>
