<div class="landing-hero">
  <%= image_tag "decor.svg", class: "landing-decor", alt: "Decor" %>
  <%= image_tag "ligne.svg", class:"landing-ligne", alt: "ligne" %>

  <div class="landing-content">
    <div class="mb-3">
    <h1 class="landing-title">Let’s</h1>
    <h1 class="landing-title">Cook</h1>
    </div>
    <p class="landing-subtitle mb-3">Find the best food recipes</p>
    <%= link_to "Start Cooking", recipes_path, class: "btn btn-cta" %>
  </div>
</div>
