.btn-favorite {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .rounded-circle {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: $color-secondary;
  }

  .heart-icon {
    color: $color-light;
    border: none;
    width: 50px;
    height: 50px;
    padding: 12px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.btn-chat {
  background: $color-secondary;
  color: #fff;
  padding: 7px 13px;
  margin-right: 5px;
  border-radius: 50%;
  transition: all 0.2s ease;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn-chat:hover {
  background: $color-accent;
  color: #fff;
  transform: scale(1.10);
}

.btn-chat:disabled {
  background: #fff;
  border: $color-secondary solid 2px;
  color: $color-secondary;
}

.btn-swipe {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #89f1a0;
  padding: 0;
}

.btn-swipe:hover {
  background-color: #e6ffec;
  border: 2px solid #89f1a0;
}

.btn-swipe .btn-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-pass {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #f87994;
  padding: 0;
}

.btn-pass:hover {
  background-color: #ffccd3;
  border: 2px solid #f87994;
}

.btn-pass .btn-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-swipe, .btn-pass {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
